<style>
    html,
    body,
    #glcanvas {
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: absolute;
        background: black;
        z-index: 0;
    }
</style>

<canvas id="glcanvas" tabindex='1'></canvas>

<script src="/js/mq_js_bundle.js"></script>
<script>load("/wasm/asteroids.wasm");</script>
